#cinema{
  .cinematitle{
    color: red;
    border-bottom: 1px solid #f0f0f0;
    line-height: 0.43rem;
    text-align: center;
    font-size: 0.16rem;
    color: #000;
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 999;
  }
}