#tabbar{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  width: 100%;
  height: 0.56rem;
  border-top:1px solid #666 ;
  ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    li{
      line-height: 50px;
    }
    .active{
      color: red;
        
    }
    .active_home{
      position: relative;
      color: red;
      &::after{
        position: absolute;
        left: -6px;
        top: -8px;
        z-index: 200;
        content: "";
        width:0.42rem ;
        height: 0.42rem;
        display: block;
        background: url(./00000.png) no-repeat center;
      }
    }
  }
}
