.MySwiper {
    .swiper-pagination {
      // bottom: 15%;
      .swiper-pagination-bullet {
        height: 0.04rem;
        background-color: white;
        border-radius: 0.02rem;
      }
      .swiper-pagination-bullet-active {
        height: 0.04rem;
        width: 0.13rem;
        background-color: white;
        border-radius: 0.02rem;
      }
    }
  }
  