#detail_head{
  overflow: hidden;
  .bg{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:2.18rem;
    text-align: center;
    line-height: 2.18rem;
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
  }
  .head_content{
    overflow: hidden;
    position:absolute;
    left: 0px;
    right: 0px;
    .imgTitle{
      border-radius: 0.03rem;
      margin-top:0.16rem ;
      margin-right: 0.14rem;
      .img{
        float: left;
        position: relative;
        margin-left: 0.23rem;
        width:1.05rem;
        height: 1.4rem;
        .bigImg{
          width: 100%;
        }
        .smallImg{
          position: absolute;
          left: 0.04rem;
          width: 0.39rem;
          top:-0.01rem;
        }
      }
    }
    .right{
      width: 2.26rem;
      height: 1.42rem;
      float: right;
      color: #fefefe;
      position: relative;
      p{
        font-size: 0.16rem;
        font-weight: 600;
      }
      .realName{
        font-size: 0.1rem;
        color: #fcede6;
        position: absolute;
        left: 0.05rem;
        bottom:0.45rem;
        background-color: #ec6900;
        padding: 0.03rem 0.05rem;
        border-radius: 0.02rem;
      }
      .eticket{
        font-size: 0.1rem;
        color: #fcede6;
        position: absolute;
        left: 0.05rem;
        bottom:0.45rem;
        background-color: #e9b02d;
        padding: 0.03rem 0.05rem;
        border-radius: 0.02rem;
      }
      h4{
        position: absolute;
        bottom:0.1rem;
        font-size: 0.14rem;
        font-weight: bold;
      }
    }
    
  }
  
}
.address{
  background-color: white;
  overflow: hidden;
  position: relative;
  padding: 0 0.15rem;
  &:after{
    content:'';
    height: 0;
    overflow: hidden;
    clear: both;

  }
  .address_left{
    float: left;
    p{
      height: 0.57rem;
      line-height: 0.57rem;
      font-size: 0.13rem;
      font-weight: bold;
    }
    h4{
      height: 0.13rem;
      font-size: 0.13rem;
      font-weight: bold;
    }
    .adress_info{
      font-size: 0.11rem;
      color: #666;
      height: 0.27rem;
      line-height: 0.27rem;
    }
  }
  .address_right{
    float: right;
    color: #ff6a41;
    width: 0.28rem;
    height: 0.28rem;
    line-height: 0.28rem;
    border-radius: 50%;
    position: absolute;
    right: 0.28rem;
    bottom: 0.1rem;
    background-color: #ededed;
    text-align: center;
  }
  
}
.vipChengKa{
  overflow: hidden;
  background-color: white;
  height: 0.76rem;
  padding-top: 0.16rem;
  
  p{
    border-radius: 0.04rem;
    background-color: #252525;
    height: 0.44rem;
    width: 92%;
    margin:auto;
    color: #f5dea9;
    font-size: 0.12rem;
    font-weight: bold;
    line-height: 0.44rem;
    position: relative;
    padding-left: 0.92rem;
    .card{
      margin-top: 0.13rem;
      display: block;
      width: 0.56rem;
      height: 0.18rem;
      line-height: 0.18rem;
      background-color: #f5dea9;
      margin: 0 0.1rem;
      color: black;
      font-size: 0.1rem;
      float: left;
      text-align: center;
      font-weight: 500;
      position: absolute;
      top:0.13rem;
      left: 0.13rem;
    }
    .openCardRight{
      float: right;
      margin-right: 0.17rem;
      font-size: 0.11rem;
      font-weight: 500;
    }
  }
}
.fujia{
  
  background-color: white;
  display: flex;
  height: 0.4rem;
  line-height: 0.4rem;
  padding: 0 0.15rem;
  color: #666;
  .feituipiao{
    display: flex;
    margin-right: 0.1rem;
    .duihao{
      margin-right: 0.07rem;
      width: 0.1rem;
      height: 0.1rem;
      line-height: 0.1rem;
      border-radius: 50%;
      font-size: 0.08rem;
      background: #ff6743;
      color: #ffe9da;
      text-align: center;
      margin-top: 0.15rem;
    }
  }
  .tuipiao{
    display: flex;
    .duihao{
      margin-right: 0.07rem;
      width: 0.1rem;
      height: 0.1rem;
      line-height: 0.1rem;
      border-radius: 50%;
      font-size: 0.08rem;
      background: #ff6743;
      color: #ffe9da;
      text-align: center;
      margin-top: 0.15rem;
    }
    .wenhao{
      margin-left: 0.07rem;
      width: 0.1rem;
      height: 0.1rem;
      line-height: 0.1rem;
      border-radius: 50%;
      font-size: 0.08rem;
      background: #fff;
      color: #666;
      text-align: center;
      margin-top: 0.15rem;
      border: 1px solid #666;
    }
  }
}
.hengxian{
  width: 92%;
  margin-left: 0.15rem;
  height: 1px;
  background-color: #f5f5f5;
}
